p {
  color: #6d6d6d;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 0.9rem;
}

.ant-collapse-ghost
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  padding: 0 8px;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  vertical-align: middle !important;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 36px 8px 20px;
}
.ant-modal-content {
  border-radius: 12px;
}
.phantom-button {
  background: white !important;
  color: white !important;
}

.metaplex-button {
  display: flex;
  justify-content: center;
  height: 56px;
  width: auto;
  max-width: 100%;
  align-items: center;
  border-radius: 12px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.1);
  /* identical to box height, or 100% */
  letter-spacing: -0.01em;
  /* White */
  color: #ffffff;
  &.w100 {
    width: 100%;
  }
}
